html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.body{
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
}

.header{
    display: -ms-grid;
    display: grid;
    padding: 10px;
    grid-gap: 20px;
    -ms-grid-columns: auto 20px auto 20px auto 20px 1fr 20px auto;
    grid-template-columns: repeat(3,auto) 1fr repeat(1,auto);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 2px gray;
            box-shadow: 1px 1px 2px gray;
    padding-bottom: 5px;
    position: fixed;
    background: white;
    width: 99%;
}

.nyt-header{
    width: 195px;
    height: 26.5px;
}

.icon{
    height: 16px;
    width: 16px;
}

.category{
    font-style: none;
    font-weight: 600;
    font-size: 14.25px;
}

.header-btn{
    background: #6388A5;
    border-radius: 3px;
    border: 1px solid #326891;
    color: white;
    font-weight: 600;
    font-size: 11px;
    padding: 8px;
}

.content{
    padding-top: 70px;
    display: -ms-grid;
    display: grid;
    grid-gap: 30px 0px;
    -ms-grid-columns: 1.2fr 0px 2fr 0px 4.6fr 0px 2fr 0px 1.2fr;
    grid-template-columns: 1.2fr 2fr 4.6fr 2fr 1.2fr;
    height: 500px;
    width: 100%;
}
.content> * {
    grid-column: 3/-3;
}
.article-title{
    font-size: 29px;
    font-weight: 600;
    font-style: italic;
    -ms-grid-column-align: center;
        justify-self: center;
}

.content figure{
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    display: block;
}

.content figure img{
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

figure p{
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
}

.author-name{
    font-weight: 600;
}

.tiny-icon{
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 100%;
    padding: 5px;
    margin-left: 12px;
}
.tiny-icon-con{
    width: 16px;
    height: 25px;
    margin-left: 12px;
}

.tiny-icon-continer{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

article{
    font-weight: 100;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.pick{
    -ms-grid-column:  4;
    -ms-grid-column-span:  1;
    grid-column:  4/5;
    align-self: flex-end;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 2fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 13px 5px;
    margin-left: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 17px;
}

.pick span{
    color: black;
    font-weight: 500;
}

.pick img{
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.theory-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px 10px 180px 10px 180px 10px 180px;
    grid-template-columns: repeat(4,180px);
    -ms-grid-rows: 1fr 10px 1fr;
    grid-template-rows: repeat(2,1fr);
    background-image: url("../img/inflation-720.png");
    background-size: cover;
    height: 648px;
    width: 100%;
    grid-gap: 10px;
}

.theory-container > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.theory-container > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.theory-container > *:nth-child(3){
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.theory-container > *:nth-child(4){
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}

.theory-container > *:nth-child(5){
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.theory-container > *:nth-child(6){
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.theory-container > *:nth-child(7){
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}

.theory-container > *:nth-child(8){
	-ms-grid-row: 3;
	-ms-grid-column: 7;
}

.subtitle{
    font-size:1.3rem;
    font-weight: 700; 
}

.summary{
    color: grey;
}

.theory-container> * {
    margin-top: 130px;
    color: black;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}

.recommend-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1.2fr;
    grid-template-columns: repeat(3,1fr) 1.2fr;
    /* grid-template-rows: 1px; */
    width: 100%;
    grid-gap: 10px;
    /* grid-auto-rows: auto; */
}

.divider{
    width: 100%;
    height: 1px;
    background: black;
}

.r-list{
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    grid-row: 3/8;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.r-list > *{
    padding: 10px;
}

.r-list ul li{
    width: 100%; 
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;
    line-height: 25px;
    margin-left: 10px;
    border-bottom: 0.5px solid gray;
}

.r-img{
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
}

.r-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.r-item span{
    padding: 5px;
    font-size: 12px;
    color: gray;
} 

.r-item h2{
    font-size: 19px;
    line-height: 22px;
}

.r-item time{
    margin-top: 5px;
    font-size: 0.87rem;
    color:#999;
}

.bottom-bar{
    grid-column: 1/-1;
    -ms-grid-row-span: 91;
    grid-row: 9 span 1;
    content: "";
    height: 1px;
    margin-top: 50px;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 2px solid rgb(226, 226, 226);
}

.tag-container{
    grid-column: 1/-1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6,1fr);
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-bottom: 15px;
}

.tag-container h2{
    font-weight: 600;
    color: rgb(51, 51, 51);
    font-size: 15px;
    margin-top: 10px;
}

.tag-container ul{
    margin-top: 10px;
}

.tag-container ul li{
    margin-top: 5px;
}

.tag-container ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
}

.bottom-right{
    border-left: 1px solid rgb(226, 226, 226);
    padding-left: 15px;
}

.ic{
    height: 13px;
    width: 13px;
    vertical-align: bottom;
}

.bottom-right ul li{
    font-weight: 700;
    line-height: 15px;
    margin-top: 15px;
}

.nah{
    margin-top: 20px;
}

.nah li{
    margin-top: 5px;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 21px;
}

.ldivider{
    height: 1px;
    background-color:rgb(226, 226, 226);
    width: 100%;
}

.bot{
    grid-column: 1/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 10px;
}

.bot span{
    display: block;
    width: auto;
    margin-left: 10px;
    font-size: 12px;
    color: grey;
    line-height: 12px;
}